/* === LOGIN & REGISTER ONLY === */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.split-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-panel {
  flex: 1;
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.right-panel {
  flex: 1;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0;
  height: 100%;
}

.intro-box {
  max-width: 420px;
  text-align: center;

}

.right-panel h1 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: #4c6dc6;
}

.right-panel h3 {
  margin-bottom: 1rem;
  opacity: 0.8;
}

.right-panel p {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  opacity: 0.85;
}

/* Form container */
.form-container {
  width: 100%;
  max-width: 420px;
  padding: 28px;
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  border-radius: 15px;
  border-right: 5px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);
  margin-left: 10px;
}

.form-container h2 {
  text-align: center;
  margin: 0 0 px 0;
  font-size: 22px;
  color: #fff;
}

.form-container input {
  width: 94%;
  padding: 12px;
  margin: 10px 0;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.25);
  color: #fff;
  outline: none;
}

.form-container input::placeholder {
  color: #eee;
}

.form-container button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  background: rgba(0, 119, 182, 0.85);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.form-container button:hover {
  background: rgba(2, 62, 138, 0.9);
}

.form-container p {
  text-align: center;
  margin-top: 12px;
  color: #fff;
}

.form-container a {
  color: #caf0f8;
  font-weight: 700;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

/* Error + success */
.error {
  background: #ffe5e5;
  color: #d90429;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
}

.sdg-title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px;
  text-align: center;
}
